{% extends 'stocksmarket/main1.html' %}
{% block body %}
{% for row in ss %}

<table width='100'  border="4"   cellpadding="1" cellspacing="1" class="table">
    <tr>
        
        <th style="font-weight:bold;color: darkgreen;">Company</th>
        <th style="font-weight:bold;color: darkgreen;">  Symbols</th>
    </tr>
    <tr>
       
       <td style="font-weight:bold;color:black;">{{row.1}}</td>
        <td style="font-weight:bold;color:black;">{{row.0}}</td>
        {% endfor %}
       
    </tr>
    
</table>


<p style="font-weight:bold;color:tomato">The serach button will show the graph of the Company for peroid of jan-2020 till sep 2021</p>
<a href="/main/serach"><button  type="submit" >Search</button></a>

{% endblock %}